:root {
   --bg-light-1: #ececec;
   --bg-light-2: #e0e0e0;
   --text-dark-1: #142d4c;

   --cell-color-visited: #001f3f;
   --cell-color: #3a6d8c;
   --cell-color-iterating: #ead8b1;
}

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
}

body {
   font-family: "Montserrat", sans-serif;
   background-color: var(--bg-light-1);
   color: var(--text-dark-1);
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}
